
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
         matInput
         type="text"
         ngModel
         required
         minlength="3">
    </mat-form-field>
    <mat-form-field>
      <textarea
         matInput
         rows="6"
         ngModel
         required>
      </textarea>
    </mat-form-field>
    <button
        color="accent"
        mat-raised-button
        type="submit">savePost</button>

  </form>


</mat-card>


